# See https://help.github.com/ignore-files/ for more about ignoring files.

# sonarqube
.scannerwork

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#eclipse
.project
.tern-project
.settings
.settings/*
.idea/
arboard-client.iml
*.iml

#virtual-gourmet
java_src/virtual-gourmet-jpa/target
java_src/virtual-gourmet-web/target